artifacts

src/PopularizaceCz/config.json

src/PopularizaceCz/PopularizaceCz.kproj.user

src/PopularizaceCz/bower_components
src/PopularizaceCz/node_modules

src/PopularizaceCz/wwwroot/bin
src/PopularizaceCz/wwwroot/lib

Database/Connections/Azure.publish.xml

# User-specific files

*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)

*.userprefs

# Build results

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studo 2015 cache/options directory

.vs/

# NuGet Packages

*.nupkg

# The packages folder can be ignored because of Package Restore

**/packages/*

# except build/, which is used as an MSBuild target.

!**/packages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
