@model PopularizaceCz.ViewModels.HomepageViewModel
@{
    ViewBag.Title = "Přehled";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nadcházející přednášky</h2>
        <ul>
            @foreach (var p in Model.UpcomingTalks)
            {
                <li>@Html.ActionLink(p.Name, "Show", "Talk", new { id = p.Id }) (@p.Start.ToString("d. M."))</li>
            }
        </ul>
    </div>
    
    <div class="col-md-4">
        <h2>Záznamy podle osobností</h2>
        <ul>
            @foreach (var speaker in this.Model.FrequentSpeakers)
            {
                <li>@Html.ActionLink(speaker.Name, "Show", "Person", new { id = speaker.Id }) (@speaker.Talks.Count)</li>
            }
        </ul>

        <h2>Záznamy podle témat</h2>
        <ul>
            <li>Toxoplasmóza (4 přednášky)</li>
            <li>...</li>
        </ul>

        <h2>Záznamy podle organizátorů</h2>
        <ul>
            <li>Biologické čtvrtky (76 přednášek)</li>
            <li>...</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>O projektu</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus velit augue, scelerisque elementum metus pellentesque quis. Nunc ac neque id sapien gravida fermentum. Maecenas condimentum, felis quis suscipit eleifend, lectus urna tempor nulla, quis condimentum ligula augue ac sem. Ut quis ultricies quam. Aenean hendrerit efficitur nunc. Nam consectetur, dolor a suscipit scelerisque, turpis magna malesuada eros, eget porta diam mi eu ante. Suspendisse lectus tellus, tempus id massa at, consequat hendrerit justo. Quisque lorem ex, efficitur eu felis id, pretium efficitur justo. Proin nec leo quis est accumsan suscipit.</p>

        <p>Etiam eleifend ut metus ut condimentum. Mauris ut egestas ligula. Quisque molestie pellentesque mauris, imperdiet venenatis enim facilisis vitae. Pellentesque mattis lorem nec convallis efficitur. Cras consequat leo vel justo ultrices varius. Nam venenatis tortor ante, ut malesuada augue dapibus eu. Etiam tristique orci turpis, id pretium justo pharetra ut. Donec aliquam sapien eu ante ullamcorper ullamcorper. Aenean condimentum molestie orci non egestas. Phasellus volutpat mattis nunc, vitae condimentum metus lobortis quis. Pellentesque quis placerat enim. Nullam faucibus non nunc at ultricies. Nam a consequat est. Donec dapibus sem orci, ac faucibus felis ultricies laoreet.</p>

        <p>Vestibulum volutpat at magna nec rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer eu maximus elit. Praesent pellentesque augue sed aliquam finibus. Morbi pretium dui in porta finibus. Proin sed risus nec metus lobortis accumsan at pellentesque urna. Aliquam id egestas mi. Nam vitae tempus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tempus viverra purus, et porttitor nisi sagittis vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique elit sit amet dui condimentum fermentum. Sed ante ex, semper non neque sed, maximus luctus arcu.</p>
    </div>
</div>