@model PopularizaceCz.ViewModels.OrganizationViewModel
@{
    ViewBag.Title = ("Profil organizace: " + Model.DbModel.Name);
}

<h2>Profil organizace „@Model.DbModel.Name“</h2>

@if (!string.IsNullOrEmpty(Model.DbModel.Url))
{
    <p>Webové stránky: <a href="@Model.DbModel.Url">@Model.DbModel.Url</a></p>
}

<h3>Přednášky</h3>

@foreach (var talk in Model.DbModel.Talks.OrderByDescending(t => t.Start))
{
    @Component.Invoke("TalkListItem", talk)
}