@model PopularizaceCz.ViewModels.PersonViewModel
@{
    ViewBag.Title = ("Profil popularizátora: " + Model.DbModel.Name);
}

<h2>Profil popularizátora „@Model.DbModel.Name“</h2>

<h3>Evidované přednášky</h3>

@foreach (var talk in Model.DbModel.Talks.OrderByDescending(t => t.Start))
{
    @Component.Invoke("TalkListItem", talk)
}