@model PopularizaceCz.ViewModels.CategoryViewModel
@{
    ViewBag.Title = ("Kategorie přednášek: " + Model.DbModel.Name);
}

<h2>Kategorie „@Model.DbModel.Name“</h2>

@foreach (var talk in Model.DbModel.Talks)
{
    @Component.Invoke("TalkListItem", talk)
}