@model PopularizaceCz.ViewModels.CategoryViewModel
@{
    ViewBag.Title = ("Kategorie přednášek: " + Model.DbModel.Name);
}

<h2>Kategorie „@Model.DbModel.Name“</h2>

<ul>
    @foreach (var talk in Model.DbModel.Talks)
    {
        <li>@talk.Start.ToString("d. M. yyyy"): @Html.ActionLink(talk.Name, "Show", "Talk", new { id = talk.Id })</li>
    }
</ul>